.data-table {
    float: left;
    margin-top: 20px;
    position: relative;
    width: 100%;
}

.data-table .field-container-item {
    width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pcsg-gpm-password-warning {
    background-color: #FAF6D4;
    border: 1px solid #E6C26E;
    border-radius: 5px;
    color: #000;
    float: left;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

.pcsg-gpm-password-error {
    background-color: #F2D4CE;
    border: 1px solid #AE432E;
    border-radius: 5px;
    color: #000;
    float: left;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}