.pcsg-gpm-password-linkcreate-option {
    clear: both;
    float: left;
}

.field-container-field input[type="checkbox"] {
    float: left;
}

.pcsg-gpm-password-linkcreate-active {
    clear: both;
    margin-top: 15px;
    float: right;
}

.pcsg-gpm-password-linkcreate-longlabel {
    white-space: normal !important;
}

.pcsg-gpm-password-linkcreate-date {
    display: none;
    margin-top: 10px;
}