.pcsg-gpm-password-linklist {
    float: left;
    height: 100%;
    width: 100%;
}

.pcsg-gpm-password-linklist-grid,
.pcsg-gpm-password-link-list-calls-grid {
    float: left;
    height: 100%;
    width: 100%;
}

.pcsg-gpm-password-linklist-url {
    float: left;
    width: calc(100% - 75px);
}

.pcsg-gpm-password-linklist-url-link {
    color: #0069b4;
    height: 100%;
    text-align: center;
    width: 100%;
}

.pcsg-gpm-password-linklist-url-link .fa {
    margin-right: 5px;
}

.pcsg-gpm-password-linklist-url-link:hover {
    color: #00A0B0;
}

.pcsg-gpm-password-linklist-owner {
    float: left;
    height: 100%;
    width: 100%;
}

.pcsg-gpm-password-linklist-owner-icon {
    float: left;
    margin: 5px 5px 0 0;
}