<?xml version="1.0" encoding="UTF-8"?>
<events>

    <event on="onPackageSetup" fire="\Pcsg\GroupPasswordManager\Events::onPackageSetup" />
    <event on="onUserLogin" fire="\Pcsg\GroupPasswordManager\Events::onUserLogin" />
    <event on="onUserSaveBegin" fire="\Pcsg\GroupPasswordManager\Events::onUserSaveBegin" />
    <event on="onUserDelete" fire="\Pcsg\GroupPasswordManager\Events::onUserDelete" />
    <event on="onGroupDelete" fire="\Pcsg\GroupPasswordManager\Events::onGroupDelete" />
    <event on="onAdminLoad" fire="\Pcsg\GroupPasswordManager\Events::onAdminLoad" />
    <event on="onAdminLoadFooter" fire="\Pcsg\GroupPasswordManager\Events::onAdminLoadFooter" />
    <event on="onAjaxCallBefore" fire="\Pcsg\GroupPasswordManager\Events::onAjaxCallBefore" />
    <event on="onGroupCreate" fire="\Pcsg\GroupPasswordManager\Events::onGroupCreate" />
    <event on="onPasswordDelete" fire="\Pcsg\GroupPasswordManager\Events::onPasswordDelete" />

</events>