<?xml version="1.0" encoding="UTF-8"?>
<events>

    <event on="onPackageSetup" fire="\Sequry\Core\Events::onPackageSetup" />
    <event on="onUserLogin" fire="\Sequry\Core\Events::onUserLogin" />
    <event on="onUserSaveBegin" fire="\Sequry\Core\Events::onUserSaveBegin" />
    <event on="onUserDelete" fire="\Sequry\Core\Events::onUserDelete" />
    <event on="onGroupDelete" fire="\Sequry\Core\Events::onGroupDelete" />
    <event on="onAdminLoad" fire="\Sequry\Core\Events::onAdminLoad" />
    <event on="onAdminLoadFooter" fire="\Sequry\Core\Events::onAdminLoadFooter" />
    <event on="onAjaxCallBefore" fire="\Sequry\Core\Events::onAjaxCallBefore" />
    <event on="onGroupCreate" fire="\Sequry\Core\Events::onGroupCreate" />

</events>