.pcsg-gpm-categories-filters {
    float: left;
    padding: 10px 10px 10px 0;
    width: 100%;
}

.pcsg-gpm-categories-filters-filter {
    float: left;
    height: 100%;
    width: 100%;
}

.pcsg-gpm-categories-filters-types {
    border-top: 1px solid #dedede;
    float: left;
    height: 100%;
    margin-top: 10px;
    padding: 20px 0 0 20px;
    width: 100%;
}