<label class="password-field-row">
    <span class="password-field-row-left">
        {{userText}}
    </span>
    <div class="password-field-row-right">
        <input type="text" value="" name="pw-username"
               class="password-field-row-right-input"
               placeholder="Benutzername hinzufügen"
               autocomplete="off"/>
    </div>
</label>


<label class="password-field-row password-field-row-alignTop password-field-row-note">
    <span class="password-field-row-left">
        {{noteText}}
    </span>
    <div class="password-field-row-right">
        <textarea name="pw-note" class="password-field-row-right-textarea"
                  placeholder="Weitere Informationen hinzufügen"></textarea>
    </div>
</label>