.pcsg-gpm-panel-grid {
    float: left;
    height: 100%;
    width: 100%;
}

.pcsg-gpm-passwords-panel-info {
    background-color: #dafada;
    float: left;
    padding: 5px 10px;
    width: 100%;
}

.pcsg-gpm-passwords-panel-category-close {
    font-size: 15px;
    margin-left: 10px;
}

.pcsg-gpm-passwords-panel-options label {
    float: left;
}

.pcsg-gpm-passwords-panel-options label span {
    float: left;
    margin-right: 5px;
    line-height: 29px;
}

.pcsg-gpm-passwords-panel-table {
    float: left;
    height: 100%;
    width: 100%;
}

.pcsg-gpm-passwords-panel-grid-shared {
    float: left;
    height: 100%;
    text-align: center;
    width: 90%;
}

.pcsg-gpm-passwords-panel-grid-shared:hover,
.pcsg-gpm-passwords-panel-table-accesstype:hover {
    cursor: pointer;
    color: #00A0B0;
}

.pcsg-gpm-passwords-panel-grid-shared-separator {
    margin: 0 3px;
}

.pcsg-gpm-passwords-panel-share-info div.information {
    margin: 0;
}

.pcsg-gpm-passwords-panel-share-info div.textbody h2 {
    display: none;
}

.pcsg-gpm-passwords-panel-table-accesstype {
    float: left;
    text-align: center;
    width: 90%;
}

.pcsg-gpm-passwords-panel-table-accesstype span {
    margin: 0 2px;
}

.pcsg-gpm-passwords-panel-table-actions {
    color: #0069b4;
    float: left;
    text-align: center;
    width: 90%;
}

.pcsg-gpm-passwords-panel-table-actions span {
    margin: 0 3px;
}

.pcsg-gpm-passwords-panel-table-actions span:hover {
    color: #00A0B0;
}

.pcsg-gpm-passwords-panel-table-action-disabled {
    color: #ccc;
}

.pcsg-gpm-passwords-panel-table-action-disabled:hover {
    cursor: default;
    color: #ccc !important;
}

.pcsg-gpm-passwords-panel-access-info-owner div {
    float: left;
    margin-top: 7px;
    width: 100%;
}

.pcsg-gpm-passwords-panel-access-info-owner div span.fa {
    font-size: 16px;
    margin-right: 5px;
}

.pcsg-gpm-passwords-panel-table-owner span.fa {
    margin-right: 5px;
}

.pcsg-gpm-passwords-panel-table-favorite {
    color: #aa1317;
}

.pcsg-gpm-passwords-panel-table-favorite,
.pcsg-gpm-passwords-panel-table-favorite span {
    height: 100%;
    width: 100%;
}

.pcsg-gpm-passwords-panel-categories-public,
.pcsg-gpm-passwords-panel-categories-private {
    float: left;
    margin-top: 10px;
    width: 100%;
}

.pcsg-gpm-passwords-panel-search {
    float: right;
    margin: 8px;
    position: relative;
    width: 300px;
}

.pcsg-gpm-passwords-panel-search input {
    float: right;
    height: 35px;
    display: inline-block;
    position: relative;
    width: 100%;
    z-index: 3;
}

.pcsg-gpm-passwords-panel-search span {
    color: #ddd;
    transition: all 0.3s;
    font-size: 23px;
    position: absolute;
    height: 100%;
    padding-top: 5px;
    width: 30px;
    vertical-align: middle;
    right: 0;
    z-index: 4;
}

.pcsg-gpm-passwords-panel-search span:hover {
    cursor: pointer;
    color: #000000;
}