.data-table {
    float: left;
    height: 100%;
    position: relative;
    width: 100%;
}

.data-table .field-container-item {
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pcsg-gpm-securityclasses-authplugins-create-label {
    background-color: #EDEDED;
    border-radius: 5px;
    float: left;
    padding: 10px;
    width: 100% !important;
}

.pcsg-gpm-securityclasses-authplugins-create-label:not(:first-of-type) {
    margin-top: 10px;
}

.pcsg-gpm-securityclasses-authplugins-create-label:hover {
    background-color: #DEDEDD;
    cursor: pointer;
}

.pcsg-gpm-securityclasses-authplugins-create-title {
    float: left;
    font-weight: 900;
}

.pcsg-gpm-securityclasses-authplugins-create-description {
    clear: both;
    float: left;
}

.pcsg-gpm-securityclasses-authplugins-create-label input {
    float: left;
}

.pcsg-gpm-securityclasses-authplugin {
    float: left;
}

.pcsg-gpm-securityclasses-authplugins-warning {
    background-color: #FAF6D4;
    border-radius: 5px;
    color: #000;
    float: left;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}