<label class="password-field-row">
    <span class="password-field-row-left" title="{{urlLabel}}">
        {{urlLabel}}
    </span>
    <div class="password-field-row-right">
        <input type="text" value="" name="url"
               class="password-field-row-right-input password-field-value"
               placeholder="{{urlPlaceholder}}"/>
    </div>
</label>

<label class="password-field-row">
    <span class="password-field-row-left">
        {{keyLabel}}
    </span>
    <div class="password-field-row-right">
        <input type="password" value="" name="key"
               class="password-field-row-right-input password-field-value"
               placeholder="{{keyPlaceholder}}"
               autocomplete="new-password"/>
        <button class="fa fa-eye password-show"></button>
        <button class="fa fa-random password-generate"></button>
    </div>
</label>

<label class="password-field-row password-field-row-alignTop password-field-row-note">
    <span class="password-field-row-left">
        {{noteLabel}}
    </span>
    <div class="password-field-row-right">
        <textarea name="note" class="password-field-row-right-textarea password-field-value"
                  placeholder="{{notePlaceholder}}"></textarea>
    </div>
</label>