<label class="password-field-row">
    <span class="password-field-row-left">
        {{hostLabel}}
    </span>
    <div class="password-field-row-right">
        <input type="text" value="" name="host"
               class="password-field-row-right-input"
               placeholder="{{hostPlaceholder}}"/>
    </div>
</label>

<label class="password-field-row">
    <span class="password-field-row-left">
        {{userLabel}}
    </span>
    <div class="password-field-row-right">
        <input type="text" value="" name="user"
               class="password-field-row-right-input"
               placeholder="{{userPlaceholder}}"
               autocomplete="off"/>
    </div>
</label>

<label class="password-field-row">
    <span class="password-field-row-left">
        {{passwordLabel}}
    </span>
    <div class="password-field-row-right">
        <input type="password" value="" name="password"
               class="password-field-row-right-input"
               placeholder="{{passwordPlaceholder}}"
               autocomplete="new-password"/>
        <button class="fa fa-eye password-show"></button>
    </div>
</label>

<label class="password-field-row password-field-row-alignTop password-field-row-note">
    <span class="password-field-row-left">
        {{keyLabel}}
    </span>
    <div class="password-field-row-right">
        <textarea name="key" class="password-field-row-right-textarea secretkey-textarea"
                  placeholder="{{keyPlaceholder}}"></textarea>
    </div>
</label>

<label class="password-field-row password-field-row-alignTop password-field-row-note">
    <span class="password-field-row-left">
        {{noteLabel}}
    </span>
    <div class="password-field-row-right">
        <textarea name="note" class="password-field-row-right-textarea"
                  placeholder="{{notePlaceholder}}"></textarea>
    </div>
</label>