<label class="password-field-row">
    <span class="password-field-row-left">
        {{userLabel}}
    </span>
    <div class="password-field-row-right">
        <input type="text" value="max.mustermann@gmail.com" name="user"
               class="password-field-row-right-input password-field-value"
               placeholder="{{userPlaceholder}}"
               autocomplete="off"/>
    </div>
</label>

<label class="password-field-row">
    <span class="password-field-row-left">
        {{passwordLabel}}
    </span>
    <div class="password-field-row-right">
        <input type="password" value="test$Passwort" name="password"
               class="password-field-row-right-input password-field-value"
               placeholder="{{passwordPlaceholder}}"
               autocomplete="new-password"/>
        <button class="fa fa-eye password-show"></button>
    </div>
</label>

<label class="password-field-row">
    <span class="password-field-row-left">
        {{urlLabel}}
    </span>
    <div class="password-field-row-right">
        <input type="text" value="www.gmail.com" name="url"
               class="password-field-row-right-input password-field-value"
               placeholder="{{urlPlaceholder}}"/>
    </div>
</label>

<label class="password-field-row password-field-row-alignTop password-field-row-note">
    <span class="password-field-row-left">
        {{noteLabel}}
    </span>
    <div class="password-field-row-right">
        <textarea name="note" class="password-field-row-right-textarea password-field-value"
                  placeholder="{{notePlaceholder}}">Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed a libero. Phasellus dolor. Vivamus elementum semper nisi.</textarea>
    </div>
</label>