<label class="password-field-row">
    <span class="password-field-row-left">
        {{userLabel}}
    </span>
    <div class="password-field-row-right">
        <input type="text" value="" name="user"
               class="password-field-row-right-input password-field-value"
               placeholder="{{userPlaceholder}}"
               readonly />
        <button class="fa fa-copy password-copy"></button>
    </div>
</label>

<label class="password-field-row">
    <span class="password-field-row-left">
        {{passwordLabel}}
    </span>
    <div class="password-field-row-right">
        <input type="password" value="" name="password"
               class="password-field-row-right-input password-field-value"
               placeholder="{{passwordPlaceholder}}"
               autocomplete="new-password"
               readonly />
        <button class="fa fa-eye password-show"></button>
        <button class="fa fa-copy password-copy"></button>
    </div>
</label>

<label class="password-field-row">
    <span class="password-field-row-left">
        {{urlLabel}}
    </span>
    <div class="password-field-row-right">
        <input type="text" value="" name="url"
               class="password-field-row-right-input password-field-value"
               placeholder="{{urlPlaceholder}}" readonly />
        <button class="fa fa-share password-openurl"></button>
        <button class="fa fa-copy password-copy"></button>

    </div>
</label>

<label class="password-field-row password-field-row-alignTop password-field-row-note">
    <span class="password-field-row-left">
        {{noteLabel}}
    </span>
    <div class="password-field-row-right" >
        <p class="note-container password-field-value" name="note"></p>
    </div>
</label>