.pcsg-gpm-actors-groupedit-securityclass {
    float: left;
    width: 100%;
}

.pcsg-gpm-actors-groupedit-securityclass-info {
    float: left;
    width: 80%;
}

.pcsg-gpm-actors-groupedit-securityclass-title,
.pcsg-gpm-actors-groupedit-securityclass-description {
    float: left;
    width: 100%;
}

.pcsg-gpm-actors-groupedit-securityclass-btn {
    float: left;
    width: 20%;
}