.pcsg-gpm-actors-groupedit-securityclass {
    background-color: #EDEDED;
    border-radius: 5px;
    clear: both;
    float: left;
    padding: 10px;
    width: 50%;
}

.pcsg-gpm-actors-groupedit-securityclass:not(:first-of-type) {
    margin-top: 10px;
}

.pcsg-gpm-actors-groupedit-securityclass-info {
    float: left;
    width: 60%;
}

.pcsg-gpm-actors-groupedit-securityclass-title {
    font-weight: 900;
}

.pcsg-gpm-actors-groupedit-securityclass-title,
.pcsg-gpm-actors-groupedit-securityclass-description {
    float: left;
    width: 100%;
}

.pcsg-gpm-actors-groupedit-securityclass-btn {
    float: right;
}