.pcsg-gpm-actors-selecttable {
    float: left;
    height: 100%;
    width: 100%;
}

.pcsg-gpm-actors-selecttable-grid {
    float: left;
    height: 100% !important;
    width: 100%;
}

.pcsg-gpm-actors-selecttable-eligible {
    color: green;
}

.pcsg-gpm-actors-selecttable-noteligible {
    color: red;
    font-weight: 900;
}