.pcsg-gpm-auth-authenticate-plugins {
    float: left;
    margin-top: 15px;
    width: 100%;
}

.pcsg-gpm-auth-authenticate-plugins-plugin {
    float: left;
    padding: 10px;
    width: 100%;
    background-color: #f2f2f2;
    margin-bottom: 5px;
}