.pcsg-gpm-auth-authenticate-plugins {
    float: left;
    margin-top: 15px;
    width: 100%;
}

.pcsg-gpm-auth-authenticate-plugins-plugin {
    float: left;
    padding: 10px;
    width: 100%;
    background-color: #f2f2f2;
    margin-bottom: 5px;
}

.pcsg-gpm-auth-authenticate-plugins-plugin__hidden {
    display: none;
}

.pcsg-gpm-auth-authenticate-plugins-plugin h3 {
    font-size: 13px;
}

.pcsg-gpm-auth-authenticate-check {
    color: #0FA90F;
    float: right;
    font-size: 30px;
    margin-left: 10px;
}

.pcsg-gpm-auth-authenticate-warning {
    background-color: #FAF6D4;
    border: 1px solid #E6C26E;
    border-radius: 5px;
    color: #000;
    float: left;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

.pcsg-gpm-auth-authenticate-save-label {
    float: left;
    margin: 10px 0;
    width: 100%;
}

.pcsg-gpm-auth-authenticate-save-label input {
    float: left;
}

.pcsg-gpm-auth-authenticate-plugins-show:hover {
    cursor: pointer;
    color: #00A0B0;
}

.pcsg-gpm-auth-authenticate-plugins-show-title {
    font-size: 12px;
    margin-left: 5px;
}

.pcsg-gpm-auth-authenticate-plugins-plugin-recoverauthdata {
    clear: both;
    cursor: pointer;
    display: inline-block;
    text-align: right;
    width: 100%;
}

.pcsg-gpm-auth-authenticate-plugins-plugin-recoverauthdata:hover {
    color: #00A0B0;
}