.data-table {
    float: left;
    margin-top: 20px;
    position: relative;
    width: 100%;
}

.data-table .field-container-item {
    width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pcsg-gpm-recoverycode-code {
    float: left;
    font-size: 40px;
    text-align: center;
    width: 100%;
}