.data-table {
    float: left;
    margin-top: 20px;
    position: relative;
    width: 100%;
}

.data-table .field-container-item {
    width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pcsg-gpm-auth-syncauthplugin-auth-success {
    color: #0FA90F;
    float: left;
    font-size: 30px;
    margin-left: 10px;
}