<table class="data-table data-table-flexbox">
    <tr>
        <th>
            {locale group="sequry/core" var="user.profile.title"}
        </th>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="sequry/core" var="user.profile.authplugins.label"}
                </span>
                <input class="field-container-field" name="pcsg.gpm.settings.authplugins" type="text" data-qui="package/sequry/core/bin/controls/user/AuthPluginSettings"/>
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="sequry/core" var="user.profile.reencryption.label"}
                </span>
                <div class="field-container-field" data-qui="package/sequry/core/bin/controls/user/ReEncryptKeys"></div>
            </label>
        </td>
    </tr>
</table>