<table class="data-table data-table-flexbox">
    <tr>
        <th>
            {locale group="pcsg/grouppasswordmanager" var="user.profile.title"}
        </th>
    </tr>
    <tr>
        <td>
            <label class="field-container">
                <span class="field-container-item">
                    {locale group="pcsg/grouppasswordmanager" var="user.profile.authplugins.label"}
                </span>
                <input name="pcsg.gpm.settings.authplugins" type="text" data-qui="package/pcsg/grouppasswordmanager/bin/controls/user/AuthPluginSettings"/>
            </label>
        </td>
    </tr>
</table>