
.data-table {
    float: left;
    height: 100%;
    position: relative;
    width: 100%;
}

.data-table .field-container-item {
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
