.pcsg-gpm-password-view-payload {
    float: left;
    margin-top: 15px;
    width: 100%;
}

.pcsg-gpm-password-view-info {
    float: left;
    width: 100%;
}

.pcsg-gpm-password-view-info-datatype {
    float: left;
    margin-bottom: 10px;
    font-style: italic;
}

.pcsg-gpm-password-view-info-description {
    float: left;
}