<label class="password-field-row">
    <span class="password-field-row-left">
        {{userLabel}}
    </span>
    <div class="password-field-row-right">
        <input type="text" value="" name="pw-username"
               class="password-field-row-right-input"
               placeholder="{{userPlaceholder}}"
               autocomplete="off"/>
    </div>
</label>

<label class="password-field-row">
    <span class="password-field-row-left">
        {{passwordLabel}}
    </span>
    <div class="password-field-row-right">
        <input type="password" value="" name="pw-userpassword"
               class="password-field-row-right-input"
               placeholder="{{passwordPlaceholder}}"
               autocomplete="new-password"/>
        <button class="fa fa-eye password-show"></button>
    </div>
</label>

<label class="password-field-row">
    <span class="password-field-row-left">
        {{urlLabel}}
    </span>
    <div class="password-field-row-right">
        <input type="text" value="" name="pw-url"
               class="password-field-row-right-input"
               placeholder="{{urlPlaceholder}}"/>
    </div>
</label>

<label class="password-field-row password-field-row-alignTop password-field-row-note">
    <span class="password-field-row-left">
        {{noteLabel}}
    </span>
    <div class="password-field-row-right">
        <textarea name="pw-note" class="password-field-row-right-textarea"
                  placeholder="{{notePlaceholder}}"></textarea>
    </div>
</label>